/* Global Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fafafa; /* Light cream background for the theme */
    color: #333;
}

a {
    text-decoration: none;
    color: inherit;
}

ul, ol {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

/* Profile.css */

